<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Get Me A Handle!!</title>
		<style type="text/css">
			body {
				background-color:white;
				font-family:"Lucida Grande";
			}
			div {
				color:black;
				vertical-align: text-center;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script>
			
			var isAuto;
			var fadeInTime, fadeOutTime;
			
			//	Reduce the fade time for manual mode
			function fastFade() {
				fadeInTime = 250;
				fadeOutTime = 350;
			}

			//	Increases the fade time for auto mode
			function slowFade() {
				fadeInTime = 750;
				fadeOutTime = 750;
			}

			//	Update the new from server			
			function getNewId() {
				$.get('/id', function(data) {
					$('#generatedId').fadeOut(fadeInTime, function() {
						$('#generatedId').html(data);
						$('#generatedId').fadeIn(fadeOutTime);
						autoUpdateId();
					});
				});
			}
			
			/* 
				Schedule the next event if it IS IN AUTO mode.
				Schedules the next update based on the length of the current handle displayed.
				If the length of the handle high, we give the user some more time to read.
			*/
			var timer;
			function autoUpdateId(length) {
				if (!isAuto) return;
				var length = $('#generatedId').text().length - 6;
				var interval = (length >= 18) ? 3800 : 2800;
				timer = setTimeout(getNewId, interval);
			}
			
			/*
				Switch between auto and manual mode.
				When switching to AUTO mode
					Update text
					Enable slow fade
					Schedule auto update events
				When switching to MANUAL mode
					Update text
					Enable fast fade
					Clear the scheduled interval
			*/
			function buttonClicked() {
				isAuto = !isAuto;
				if (isAuto)	{		//	Going to Auto mode
					$('#getId').html('Turn Auto Refresh Off');
					$('#welcomeMsg').html('Relax, Auto refreshing Ids');
					buttonClickEventConsumed = false;		//	Reset the first click
					slowFade();
					autoUpdateId();
				}else {					//	Going to Manual mode
					$('#getId').html('Turn Auto Refresh On');
					$('#welcomeMsg').html('Click anywhere to generate');
					fastFade();
					clearInterval(timer);
				}
			}

			//	Used to eat up the button click event from trigging an update			
			var buttonClickEventConsumed = false;
			//	If in MANUAL mode and the button click event is consumed then update the id
			$(document).click(function() {
				if (!isAuto && buttonClickEventConsumed) {
					getNewId();
				}
				if (!isAuto) { 
					buttonClickEventConsumed = true;
				}
			});

			$(document).ready(function() {
				if (navigator.appName == 'Microsoft Internet Explorer') {
					$('#welcomeMsg').html('Seriously...don\'t be a douche. Use Firefox or Chrome');
					$('#generatedId').html('');
					document.getElementById('getId').style.visibility="hidden";
					isAuto = false;
				}else {
					isAuto = true;
					slowFade();
					autoUpdateId();
				}
			});

		</script>
	</head>

	<body>
		<div id="about" align="right">
			<font size="2">By <a href="http://twitter.com/idlisingh" target="_blank">@idlisingh</a> </font>
		</div>
		<div id="mainDiv">
			<div id="msg" align="center">
				<br><br><br><br><br>
				<font size="9"><label id="welcomeMsg">Relax, Auto refreshing Ids</label></font>
			</div>
		
			<div id="generate" align="center">
				<br><br><br><br><br><br><br>
				<font size="7"><label id="generatedId">getmeahandle</label></font>
				<br><br><br><br><br><br><br>
				<button id="getId" width="77" onclick="buttonClicked()">Turn Auto Refresh Off</button>
			</div>
		</div>
	</body>
</html>
