<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Get Me A Handle!!</title>
		<style type="text/css">
			body {
				background-color:white;
				font-family:"Lucida Grande";
			}
			div {
				color:black;
				vertical-align: text-center;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script>
		
			function getNewId() {
				$.get('/id', function(data) {
					$('#generatedId').fadeOut('750', function() {
						$('#generatedId').html(data);
						$('#generatedId').fadeIn('1500');
					});
				});
			}
			
			function findId() {
				alert('clicked id');
			}
		
		</script>
	</head>

	<body>
		<div id="about" align="right">
			<font size="2">By <a href="http://twitter.com/idlisingh" target="_blank">@idlisingh</a> </font>
		</div>
		<div id="header" align="center">
			<br><br><br><br><br>
			<font size="9">Get Me A Handle!!</font>
		</div>
		
		<div id="generate" align="center">
			<br><br><br><br><br><br><br>
			<font size="7"><label id="generatedId" color="white" size="4">getmeahandle</label></font>
			<br><br><br><br><br><br><br>
			<button id="getId" width="77" onclick="getNewId()">Get Now</button>
		</div>
	</body>
</html>
